 <table class="table table-bordered">
	<tr>
      <th ng-repeat="senator in senateCtrl.senators | filter:senateCtrl.filterByStateIncum(state.state, senator)" style="text-align:center">Incumbent Senator {{senator.person.firstname}} {{senator.person.lastname}}</th>
      <th ng-repeat="candidate in state.candidates | filter:{image_url : '!!'}" ng-show="candidate.image_url.length > 0" style="text-align:center">Candidate {{candidate.firstname}} {{candidate.lastname}}</th>
	  <th ng-show="state.candidates.length === 1" style="text-align:center">No Current Candidates</th>
    </tr>

    <tr style="">
      <td ng-repeat="senator in senateCtrl.senators | filter:senateCtrl.filterByStateIncum(state.state, senator)">
        <img class="img-responsive senator-images img-thumbnail {{senator.party | lowercase}}" style="height:150px; width:150px;" ng-src="{{senator.person.image_url}}" alt="">
      </td>
      <td ng-repeat="candidate in state.candidates | filter:{image_url : '!!'}">
        <img class="img-responsive candidate-images img-thumbnail {{candidate.party | lowercase}}" style="height:150px; width:150px;" ng-src="{{candidate.image_url[0]}}" alt="" ng-click="senateCtrl.clicked=!senateCtrl.clicked; $event.stopPropagation();">
      </td>
      <td ng-show="state.candidates.length === 1">
      	<img class="img-responsive img-thumbnail candidate-images" style="height:150px;width:150px;" src="http://assignments.ds106.us/files/2011/12/placeholder.png" alt="" ng-click="senateCtrl.clicked=!senateCtrl.clicked; $event.stopPropagation();">
      </td>
  	</tr>
</table>

<div class="bio row slide-toggle" ng-show="senateCtrl.clicked && state.candidates.length > 1">
		<div class="lead" style="text-align: justify"ng-repeat="candidate in state.candidates | filter:{image_url : '!!'}">
			<div class="container">
				<h3 class="candidate-about-head">
					<strong>About {{candidate.firstname}} {{candidate.lastname}}</strong>
				</h3>
				<p class="candidate-about-body">
					{{candidate.bio}}
				</p>
			</div>
			<div class="container">
				<h3 class="candidate-platform-head">
					<strong>{{candidate.firstname}} {{candidate.lastname}}'s Platform</strong>
				</h3>
				<li ng-repeat="point in candidate.points" class="candidate-platform-body">
					{{point}}
				</li>			
			</div>

			<div class="container">
				<h3 class="candidate-opp-head">
					<strong>Other Opponents</strong>
				</h3>
				<li ng-repeat="candidate in state.candidates | filter:{image_url : '!'}" class="candidate-opp-body">
					{{candidate.firstname}} {{candidate.lastname}}
				</li>
			</div>
			

			
		</div>   
</div>
